<!DOCTYPE html>
<html>
  <head>
    <title>Supertrampapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<%#disable this other key directly below this line eventually%>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials[:PLACES_API_KEY] %>&libraries=places" async defer data-turbolinks-eval="false"></script>
    <%#javascript_include_tag "https://maps.googleapis.com/maps/api/js?key="%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.dig(:MAPS_API_KEY)}" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
